<b>Step 1: Choose your Model and Color</b>
<div>
  Model:
  <select id="modelSelect" (change)="onChangeModel($event)">
    <option id="noModelOption">Choose...</option>
    <option *ngFor="let modelOption of models" [selected]="model?.code === modelOption.code">{{modelOption.description}}</option>
  </select>

  <ng-container *ngIf="model">
    Color:
    <select id="colorSelect" (change)="onChangeColor($event)">
      <option *ngFor="let color of model?.colors" [selected]="color.code === selectedColor?.code">{{color.description}}</option>
    </select>
  </ng-container>

  <ng-container *ngIf="model">
    <div>
      <img src={{imageSource}}>
    </div>
  </ng-container>
</div>
